body{
    margin: 5px;
    background-color: black;
}
.navbar {
    
    border-radius: 30px; /* Adjust the radius as needed */
    background-color: #171718; /* Example background color, adjust as needed */
    
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-link {
   
    text-align: center;
    color: white !important;
    border-radius: 25px; 
    transition: background-color 0.3s, color 0.3s;
   
}
.nav-link:hover,.nav-link.active{
    background-color: #12872d; /* Green background color for active/hover state */
    color: white;
    padding: 7px 28px;
}
h4.nav-link:hover {
    background-color: transparent; /* Remove background color on hover for h4 */
    color: inherit; /* Maintain original text color */
    
  }
.nav-name{
    padding: 15px;
}
#navbarId{
    padding-top: 5px;
    max-width: 80%; 
    margin: 20px auto 0 auto;
    border: 3px solid #12872d; 
    padding: 10px;
     
   
}
.nav-link {
  margin: 0 35px;
}
#heading{
    padding-top: 12px;
}
#home{
    width: 80px;
}
.details{
    margin: 90px;
    margin-top: 50px;
    padding-top: 120px;
    
}
.text-Iam{
    font-size: 50px;
    color: aliceblue;
    display: inline;
    
}
.text-developer{
    display: inline;
    font-size: 50px;
    font-weight: bold;
    color: #12872d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.image{
    display: inline;
    padding-left: 20px;
    padding-top: 50px;
    position: relative;
}
#mainsection{

    display: flex;
}
.text-hello{
    text-align: center;
    align-items: center;
    width: 300px;
    height: 35px;
    background-color: #2a2d2d;
    border-radius: 20px;
    border: 1px solid #f7f7f7; 
    color: rgb(253, 255, 253);
    font-size: 20px;
    
}
.text-promo{
    color: #929292;
    font-size: 14px;
    text-align: justify;
}
.overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

background-image: linear-gradient(to bottom right, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 100%);

}
.swipesection{
    align-items: center;
    padding-bottom: 5px;
}
.text-swipe{
    color: #bd9a9a;
    font-size: 14px;
    text-align: center;
    height: 8px;
    padding-bottom: 20px;
    margin-bottom: 0.2rem

}

.dot {
    align-items: center;
    filter: blur(50px);
    opacity: 40%;
    height: 350px;
    width: 350px;
    background-color: rgb(117, 150, 107);
    border-radius: 60%;
    display: inline-block;
    position: absolute;
    margin-left: 100px;
    margin-top: 90px;
    z-index: -1;
  }
  .swipe-img{
    height: 50px;
    width: 50px;
    align-items: center;
    padding-left: 49% ;
    padding-bottom: 40px;
  }

  .download-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #12872d;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #174e31;
}
#AboutSection{
    padding-top: 50px;
    /* background-color: #2a2d2d; */
    height: 800px;
    
}

.about-img{
    padding-left: 100px;
    padding-top: 20px;
    float: left;
    position: sticky;
    z-index: 5;
    
}    

.about-text{
    color: #fff;
    text-align: justify;
    padding: 100px;
    padding-top: 180px;
    margin-left: 100px;
    margin-top: 100px;
}
.about-first{
    width: 750px;
    float: left;
}
.about-second{
    /* padding-top: 10px; */
    padding-left: 200px;
    
}
.time-text{
    color: white;
    font-size: 5rem;
    font-weight: bold;
    position: absolute;
    padding-left: 260px;
    padding-top: 10px;
}
.about-first-text{
    position: absolute;
    color: #12872d;
    font-size: 5rem;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#skillsection{
    margin-top: 15px;
}
.myskilltext{
    font-size: 2rem;
    font-weight: bold;
    color: #12872d;
    text-align: center;
    margin-top: 18px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding-top: 58px;
}

.skill-card {
    background:#171718;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 0 10px rgba(54, 179, 65, 0.1);
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 15px;
}

.skill-info {
    width: 100%;
}

.skill-name {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #fff;
}

.progress-bar {
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.progress {
    background: #42b16b;
    height: 10px;
    border-radius: 5px;
}

.percentage {
    text-align: center;
    font-size: 1em;
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 600px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-card {
        max-width: 100%;
        margin-bottom: 15px;
    }
}
#serviceSection{
    height: 500px;
}
.serviceSection{
    height: 100vh;
    padding: 30px;
    padding-top: 50px;
    padding-left: 50px;
}

/* 
.card-container {
    display: flex;
    gap: 40px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 8px 4px 8px rgba(68, 163, 115, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.8s, max-height 0.8s;
    overflow: hidden;
    background-color: #171718;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    margin-top: 0;
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3; /* for browsers that support it */
    /* box-orient: vertical; /* for browsers that support it */
    /* transition: max-height 0.3s;
    max-height: 4.5em;
    text-align: justify;
    color: #fff;
} */
/* 
.card:hover .description {
    -webkit-line-clamp: unset;
    line-clamp: unset; /* for browsers that support it */
    /* max-height: 100vh;
}
.serviceHead{
    color: #12872d;
} */ */
/* 
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center; */ */ */
    /* }

    .card {
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        width: 45%;
    }
}

@media (min-width: 1025px) {
    .card-container {
        flex-direction: row;
        justify-content: center;
    }

    .card {
        width: 300px;
    }
} */


#desktop-content {
    display: none;
}

#mobile-message {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Media Queries */
@media (min-width: 769px) {
    #desktop-content {
        display: block;
    }
}

@media (max-width: 768px) {
    #mobile-message {
        display: flex;
    }
}






.container {
    max-width: 1200px;
    margin: 0 ;
    margin-left: 50px;
}

.serviceHead {
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 1.3;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 50px;
    color: white;
}

.serviceHead span {
    color: #f5a623;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 100px;
}

.service-card {
    background-color: #111;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.service-card .icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5a623;
    color: #0a0a0a;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e59423;
}

/* Responsive Design */
@media (max-width: 900px) {
    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 90%;
    }
}
.serviceText{
    color: #f0f0f0;
}


.forms{
    width: 50%;
}

#contactSection{
margin-top: 600px;
padding-top: 100px;
height: 800px;
}
.form-label{
    color: white;
}

.form-control{
    background-color: #141415;
    border-color: #0d6221;
    color: wheat;
}
.form-control::placeholder { /* Most modern browsers support this */
    color: #fffdfd; /* Change this to the desired color */
}
.input-group-text{
    background-color: #141415;
    border-color: #0d5d1f;
    color: white;
}
#submit-form{
    padding-top: 40px;
   

}
.form-select {
    color: white;
    background-color: #141415; /* Dark background color for contrast */
    border-color: #0d5d1f;
}
.form-control:focus {
    color: white;
    background-color: #343a40; /* Keep background color consistent when focused */
    border-color: #80bdff; /* Optional: change the border color when focused */
    outline: 0; /* Optional: remove the default outline */
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); /* Optional: add a custom shadow */
}
.pingme{
   
}
.Ping{
    font-size: 40px;
    font-weight: bold;
}

.forms{
    padding-top: 100px;
}
#eachfield{
    padding-top: 30px;
}
.lets{
    color: #12872d;
}
.Connect{
    color: rgb(255, 255, 255);
}
.footer{
    padding-top: 80px;
    background-color: #141415;
}
.line{
    
    background-color: #12872d;
    width: 100%;
    height: 2px;
}
#footerlink{
    padding-top: 9px;
    text-decoration: none;
    color: white;
}
#footerlink:hover{
    color: #b1b0b0;
}
#quicklinks{
    padding-left: 150px;
}
.QuickLinks{
    padding-left: 135px;
}
#ConnectWithMe{
    padding-left: 120px;
}
.line2{
    padding-left: 350px;
}
.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
}
.sociallink{
    gap: 10px;
}
.socialicon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
/* .works{
    padding-top: 550px;
} */
#projectSection{
    padding-top: 550px;
}
/* 
.card-slider {
    display: flex;
    align-items: center;
    position: relative;
}

.cardsforslide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300px;
    overflow: hidden;
}

.cardforslide {
    min-width: 300px;
    margin: 0 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}

.arrow {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.left-arrow {
    left: -40px;
}

.right-arrow {
    right: -40px;
} */
